:root {
  --bgColor: #e8b9b9 14.56%;
  --bgColor2: #fcf4f4 100%;
  --accentColor: Black;
  --font: 'Karla', sans-serif;
  --delay: .3s;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font);
  background: linear-gradient(var(--bgColor) 0%, var(--bgColor2) 100%);
  opacity: 0;
  animation: 0.3s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200;
  margin: 0 auto;
  padding-top: 6px;
}

.header span {
  text-align: left;
  width: 0px;
  height: 0px;
  display: flex;
  color: #000;
  font-size: 25px;
  font-family: "Beth Ellen", cursive;
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 120px;
  margin-left: 20px;
  padding-bottom: 0px;
}

.header_navigation {
  display: flex;
  align-items: left;
  height: 61px;
  padding-top: 23px;
  padding-left: 180px;
  padding-right: 40px;
}

.header_navigation a {
  text-decoration: none;
  margin-right: 56px;
  margin-left: 8px;
  color: rgba(91, 78, 78, 1);
  text-align: center;
  display: flex;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
}

.shop{
  height: 20px;
  border-bottom: 1px solid #5b4e4e;
}

.text{
  text-align: center;
  margin-top: 40px;
  font-family: 'Alfa Slab One', cursive;
  color: #5B4E4E;
}

.text h4{
  text-align: center;
  font-family: "Beth Ellen", cursive;
}

.header_navigation a:hover {
  background: rgba(212, 137, 137, 1);
  height: 20px;
  border-radius: 10px;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}

.link {
  position: relative;
  color: var(--accentColor);
  border: solid var(--accentColor) 2px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px; /* 17px */
  text-decoration: none;
  /* /transition: all .25s cubic-bezier(.08, .59, .29, .99); */
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .link:hover {
      background-color: rgba(232, 185, 185, 1);
      color: var(--bgColor);
  }
}

.link:active {
  background-color: white;
  color: var(--bgColor);
}

#hashtag {
  position: relative;
  padding-bottom: 20px;
  color: var(--accentColor);
  font-size: 1rem;
  display: block;
  font-family: var(--font);
  width: 100%;
  text-align: center;

  /*  animation   */
  overflow: hidden;
  background: linear-gradient(90deg, var(--accentColor), var(--accentColor), var(--accentColor));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear var(--delay) infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}


/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

footer {
  background-color: rgba(232, 185, 185, 1);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 138px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 200px;
  padding-bottom: 10px;
}

.footer-nav {
  position: absolute;
  margin-bottom: 155px;
  margin-right: 840px;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  position: absolute;
  padding-left: 270px;
  padding-right: 340px;
}

.footer-nav li {
  display: flex;
  justify-content: center;
  width: 112.663px;
  height: 17.525px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(163, 134, 134, 1);
  text-decoration: none;
  font-size: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  padding-bottom: 0px;
  margin-left: -30px;
  background: none;
}

.icon a {
  text-decoration: none;
  padding: 30px;
  background: none;
}

.icon a i {
  font-size: 1.5em;
  color: rgba(91, 78, 78, 1);
  opacity: 0.9;
}

.footer2 {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(163, 134, 134, 1);
  text-decoration: none;
  position: absolute;
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 110px;
  font-size: 12px;
  background: none;
}

.footer3 {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(163, 134, 134, 1);
  text-decoration: none;
  position: absolute;
  margin-top: 60px;
  margin-left: 90px;
  font-size: 12px;
  background: none;
}

.footer4 {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(163, 134, 134, 1);
  text-decoration: none;
  position: absolute;
  margin-top: 100px;
  margin-left: -20px;
  font-size: 12px;
  background: none;
}

